@if (isOpen) {
<div class="modal-overlay">
    <div class="modal-box">
        <h2>💵 รับชำระเงิน</h2>

        <div class="summary-box">
            <p>ยอดรวมที่ต้องชำระ</p>
            <h3 class="total-text">฿{{ total | number:'1.2-2' }}</h3>
        </div>

        <div class="payment-method-selector">
            <button [class.active]="paymentMethod === 'CASH'" (click)="selectPaymentMethod('CASH')">
                💵 เงินสด
            </button>
            <button [class.active]="paymentMethod === 'TRANSFER'" (click)="selectPaymentMethod('TRANSFER')">
                📱 โอนเงิน
            </button>
        </div>

        @if (paymentMethod === 'CASH') {
        <div class="input-group">
            <label>รับเงินจากลูกค้า (บาท):</label>
            <input type="number" [(ngModel)]="receivedAmount" placeholder="กรอกจำนวนเงิน">
        </div>

        <div class="change-box">
            <p>เงินทอน:</p>
            <h3 [class.error-text]="changeAmount < 0">
                ฿{{ changeAmount < 0 ? 0 : changeAmount | number:'1.2-2' }} </h3>
        </div>
        }

        @if (paymentMethod === 'TRANSFER') {
        <div class="qr-container" style="text-align: center; margin: 24px 0;">
            @if (isGeneratingQr) {
               <p style="color: #4b5563;">⏳ กำลังเชื่อมต่อธนาคารเพื่อสร้าง QR Code...</p>
            } @else if (qrCodeUrl) {
               <div style="background: #f8fafc; padding: 16px; border-radius: 12px; border: 2px dashed #cbd5e0; display: inline-block;">
                   <img [src]="qrCodeUrl" alt="PromptPay QR" style="width: 200px; height: 200px; border-radius: 8px;">
               </div>
               <p style="color: #4b5563;">สามารถโอนได้ไม่เกิน 150,000 บาท</p>
               <p style="color: #4b5563;">*หนึ่งแสนห้าหมื่นบาทถ้วน*</p>
            }
        </div>
        }

        <div class="modal-actions">
            <button class="btn-cancel" (click)="closeCheckout()" >ยกเลิก</button>
            
            @if (paymentMethod === 'CASH') {
                <button class="btn-confirm" (click)="confirmPayment()" [disabled]="isProcessing || (receivedAmount < total)">
                    {{ isProcessing ? 'กำลังบันทึก...' : 'ยืนยันรับเงิน' }}
                </button>
            }
        </div>
    </div>
</div>
}