@if (isOpen) {
  @if (type === 'payment-success') {
  <div class="modal-overlay">
      <div class="modal-box alert-box">
          <div class="alert-icon">✅</div>
          <h2>แจ้งเตือน</h2>
          <p>{{ message }}</p>
          <div class="modal-actions">
              <button class="btn-confirm" (click)="closeAlert()">ตกลง</button>
          </div>
      </div>
  </div>
  } @else {
  <div class="modal-overlay">
      <div class="modal-box alert-box">
          <div class="alert-icon">⚠️</div>
          <h2>แจ้งเตือน</h2>
          <p>{{ message }}</p>
          <div class="modal-actions">
              <button class="btn-confirm" (click)="closeAlert()">ตกลง</button>
          </div>
      </div>
  </div>
  }
}